.header__body {
    background-color: #F5EDE7;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    background-color: antiquewhite;
    top: 0;
    left: 0;

}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    z-index: 4;

}

.header__body {
    position: relative;
    display: flex;
    padding: 14px 24px;
    height: 88px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    flex: 0 0 139px;
    position: relative;
    z-index: 4;

    img {
        max-width: 100%;
        display: block;
        border-radius: 0;
    }
}
.header-menu_right{
    img{
        border-radius: 0px;
    }
}

.header-menu,
.header-menu_left,
.header-menu_right {
    display: flex;
}

._menu {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 4;


}

.header-menu__link,
.item__link {
    padding-left: 16px;
}

.header__burger {
    display: none;
}

.header-menu_mob {
    display: none;
}

@media (max-width:767px) {
    .header__body {
        height: 55px;
    }

    .header__logo {
        flex: 0 0 100px;
    }

    .header-menu_mob {
        display: flex;
        position: relative;
        z-index: 5;
        align-items: end;
        img{
            border-radius: 0px;
        }
    }

    .header__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        z-index: 4;
    }

    .header__burger:before,
    .header__burger::after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger span {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        top: 12px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 15px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 10px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFC3A0;
        z-index: 3;
        overflow: auto;
        font-size: 25px;
        align-items: start;
        transition: all 0.3s ease 0s;
        display: block;

    }

    .header-menu.active {
        top: 0;
    }

    .header-menu_left {
        display: block;
        padding: 80px 0 0 0;

        li {
            margin: 0 0 20px 0;

        }
    }

    .header-menu_right {
        display: none;
        
        
    }

    body.lock {
        overflow: hidden;
    }

}